{% extends "layout.html" %}
{% block content %}

<h1 class="text-center">What would you like to buy?</h1>
<div class="container">
<form action="/checkout" method = "POST">
    <table class="table table-bordered text-center">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Fruit</th>
            <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                    <td>Mangos</td>
                <td>
                    <select name='mangos'>
                        <option value='0'>0</option>
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                        <option value='4'>4</option>
                        <option value='4'>5</option>
                    </select>
                </td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td>Strawberries</td>
                    <td>
                        <select name='strawberries'>
                            <option value='0'>0</option>
                            <option value='1'>1</option>
                            <option value='2'>2</option>
                            <option value='3'>3</option>
                            <option value='4'>4</option>
                            <option value='4'>5</option>
                        </select>
                    </td>
            </tr>

            <tr>
                <th scope="row">3</th>
                <td>Maduritos</td>
                <td>
                    <select name='maduritos'>
                        <option value='0'>0</option>
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                        <option value='4'>4</option>
                        <option value='4'>5</option>
                    </select>
            </tr>
        </tbody>
        </table>
    </div>
<div class="container max-width 50%">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="student_id">Student Id</label>
            <input type="text" class="form-control" id="student_id" placeholder="123-456-789">
        </div>
        <div class="form-group">
            <!-- To submit form need a button -->
        <button class="btn btn-outline-info">Checkout</button>
        </div>
    </form>
</div>
{% endblock content %}